* {

}

.Data-container {
    margin-top: 5%;
    display: flex;
    justify-content: center;

}

#streams {

    width: 50%;
}


.details-container {
    margin-right: 50%;
}

#container-columns {
    display: flex;
    width: 50%;
}

.movie-title {
    font-weight: bold;
    text-decoration: underline;
}



.stream-wrap {
    word-wrap: break-word;
    border-top: 4px solid rgb(95, 95, 95);
    padding-top: 50px;
}

.stream-services-title {
    font-weight: bold;
    text-decoration: underline;
}

